.button{
  margin: 2px;
}

#current{
  border: 5px solid black;
  border-radius: 15px;
  padding: 0px;
  text-align: center;
}
#container{
  padding: 0;
}
/* please note, this is the ID container, not the class.
the decision was a little tough b/c I use the container 
class from bulma very often. But since this is the 
primary document container, I felt using the id
tag justified the possible confusion.*/

#forecast{
  border-top: 3px solid black;
}

.dailyForecast{
  text-align: center;
  padding: 5px;
}

#history{
  padding-top: 25px;
}

h2,h4,h5{
  font-weight: bolder;
}